<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>iOne Jardim Inteligente - Cadastro</title>

	<!-- Bootstrap core CSS -->
	<link href="./css/bootstrap.min.css" rel="stylesheet">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="./css/signin.css" rel="stylesheet">

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="../../assets/js/ie-emulation-modes-warning.js"></script>
	<script src="./js/script.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>

  <body>

  	<!-- Continuação do formulario Cadastrar-->
  	<div class="container">
  		<div class="row">
  			<form name="cadastro" class="form-signin" method="post" action="/adduser">
  				<h4 class="form-signin-heading">Cadastrar</h4>
  				<input id="name"      name="name"      type="text" placeholder="Nome" class="form-control" required autofocus="">
  				<input id="textinput" name="textinput" type="text" placeholder="Sobrenome" class="form-control" required >
  				<input id="email"     name="email"       type="text" placeholder="E-mail" class="form-control" required input-md>
  				<input id="password"  name="password" type="password" placeholder="Senha" class="form-control" required input-md>
  				<select id="selectbasic" name="selectbasic" type="select" placeholder="País" class="form-control" required>
  					<option value="1">Brasil</option>   
  				</select>
  				<select id="selectbasic" name="selectbasic" type="select" placeholder="Estado" class="form-control" required>
  					<option value="1">SP</option>
  				</select>
  				<select id="selectbasic" name="selectbasic" type="select" placeholder="Cidade" class="form-control" required>
  					<option value="1">São Paulo</option>
  				</select>
  				<input id="textinput" name="textinput" type="date" placeholder="Nascimento" class="form-control" required>
  				<br>
  				 <input type="submit" class="btn btn-lg btn-primary btn-block" value="Cadastrar"> 
  			</div>
  		</form>
  	</div>
  </div>




  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
