<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <link rel="stylesheet" href="./css/bootstrap-theme.min.css"/>
  <link href="./css/signin.css" rel="stylesheet">
  
  <script src="./js/jquery.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/bootstrap.js"></script>


  <title>iOne Jardim Inteligente</title>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">iOne Jardim Inteligente</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Continuação do formulario Cadastrar-->
  <div class="container">
    <div class="row">
      <form name="cadastro" class="form-signin" method="post" action="/adduser">
        <h4 class="form-signin-heading">Cadastrar</h4>
        <input id="name"      name="name"      type="text" placeholder="Nome" class="form-control" required autofocus=""><br>
        <input id="textinput" name="textinput" type="text" placeholder="Sobrenome" class="form-control" required ><br>
        <input id="email"     name="email"       type="text" placeholder="E-mail" class="form-control" required input-md><br>
        <input id="password"  name="password" type="password" placeholder="Senha" class="form-control" required input-md><br>
        <select id="selectbasic" name="selectbasic" type="select" placeholder="País" class="form-control" required>
          <option value="1">Brasil</option>   
        </select><br>
        <select id="selectbasic" name="selectbasic" type="select" placeholder="Estado" class="form-control" required>
          <option value="1">SP</option>
        </select><br>
        <select id="selectbasic" name="selectbasic" type="select" placeholder="Cidade" class="form-control" required>
          <option value="1">São Paulo</option>
        </select><br>
        <input id="textinput" name="textinput" type="date" placeholder="Nascimento" class="form-control" required>
        <br>
        <input type="submit" class="btn btn-block btn-primary" value="Cadastrar"> 
        <input type="button" class="btn btn-block btn-primary" value="Cancelar" onclick="window.location='/main'">
      </div>
    </form>
  </div>
</div>

</body>
</html>