<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>iOne</title>
</head>
<body>

	<div class="container">
		<h1>iOne Jardim Inteligente</h1>
		<h2>Criar jardim</h2>
		<fieldset>
			<form method="post" action="/criar">
				<input type="text" name="nome" placeholder="Identificação do Jardim"><br><br>
				
				<select>
					<option>Planta</option>
				</select><br><br>
				<select>
					<option>Ambiente</option>
				</select><br><br>
				<button>Criar</button>
			</form>
		</fieldset>
	</div>

</body>
</html>