<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>iOne</title>
</head>
<body>

	<div class="container">
		<h1>iOne Jardim Inteligente</h1>
		<h2>Criar jardim</h2>
		<fieldset>
			<form>
				<input type="text" name="nome" placeholder="Identificação do Jardim"><br>
				<label>Insira uma foto de seu jardim</label><br>
				<input type="file" name="foto"><br>
				<select>
					<option>Planta</option>
				</select><br>
				<select>
					<option>Ambiente</option>
				</select><br>
				<button>Criar</button>
			</form>
		</fieldset>
	</div>

</body>
</html>