 <!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>iOne</title>
</head>
<body>

	<div class="container">
		<h1>iOne Jardim Inteligente</h1>
		<h2>Iniciar Seção</h2>
		<fieldset>
			<form action="/validar" method="Post">
				<input type="email" name="email" placeholder="E-mail">
				<input type="password" name="senha" placeholder="Senha">
				<button>Entrar</button>
			</form>
		</fieldset>
		
	</div>

</body>
</html>