<!DOCTYPE html>
<html>
<head>
	<title>iOne Jardim Inteligente | Minha Conta</title>

	<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="/javascript/funcoes.js"></script>
	<script type="text/javascript" src="/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="/highcharts/exporting.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-select.min.css" >
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/fonts.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	<script type="text/javascript">

		function opcao(obj){
			switch (obj){

				case 'alterar':
				document.forms[0].action='alterarConta'
				break;
				
				case 'deletar':
				decisao = confirm("Ao deletar a conta todas as informações de jardim relacionadas a ela também serão apagadas. Deseja prosseguir?");
				if (!decisao) {
					return false;
				}
				document.forms[0].action='desativarConta'		
				break
			}
			document.forms[0].submit();		
		}
	</script>
	
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/home">iOne Jardim Inteligente</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/home">Home</a></li>
						<li><a href="/meujardim">Meu Jardim</a></li>
						<li><a href="/relatorio">Relatorio</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Conta</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/minhaconta">Detalhes</a></li>
								<li><a href="/sair">Sair</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="detalhes-conta">
			<h3>Minha Conta</h3>

			<form method="post"  >
				<div class="row">
					<div class="col-xs-12 col-md-4 espaco"></div>
					<div class="col-xs-12 col-md-4 espaco">
						<div class="form-group ">
							<label>Nome</label>
							<input type="text" id="nome" name="nome" class="form-control target"  value="<%- nome%>" required="">
						</div>
						<div class="form-group ">
							<label>Sobrenome</label>
							<input type="text" id="sobrenome" name="sobrenome" class="form-control target" value="<%- sobrenome%>" required="">
						</div>
						<div class="form-group ">
							<label>E-mail</label>
							<input type="email" name="email" class="form-control" value="<%- email %>" required="" readonly>
						</div>
						<%if(alert){%>
						<div class="alert alert-dismissible alert-info">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<p><%- msg %></p>
						</div>
						<%}%>
						<div class="form-group ">
							<br>

							<button class="btn btn-success" id="alterar" onclick="return opcao($('#alterar').val())" name="alterar" class="btn btn-success" value="alterar" disabled=true>Alterar</button>
							<a href="/redefinirHome" name="redefinirsenha" class="btn btn-info">Redefinir Senha</a>							
							<button type="submit" id="deletar" onclick="return opcao($('#deletar').val())" class="btn btn-warning" class="btn btn-success" value="deletar">Desativar</button>
						</div>
					</div>
					<div class="col-xs-12 col-md-4 espaco">
						
					</div>
				</div>
			</form>
		</div>		

		<script>
			$( ".target" ).change(function() {
				document.getElementById('alterar').disabled=false;
			});
			
		</script>

	</div>

	<div class="container-fluid footer">
		<h5>iOne Jardim Inteligente é um Projeto de Conclusão do Curso de Ciência da Computação</h5>
		<h5>Universidade São Judas Tadeu - 2016</h5>
	</div>

</body>
</html>