<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>iOne</title>
</head>
<body>

	<div class="container">
		<h1>iOne Jardim Inteligente</h1>
		<h2>Criar jardim</h2>
		<fieldset>
			<form method="post" action="/novoJardim">
				<label>Identifique seu Jardim</label><br>
				<input type="text" name="nome"><br><br>
				<label>Planta</label><br>
				<select name="planta">
					<option></option>
					<option value="Rosa">Rosa</option>
					<option value="Orquidea">Orquidea</option>
				</select><br><br>
				<label>Ambiente</label><br>
				<select name="ambiente">
					<option></option>
					<option value="Interno">Interno</option>
					<option value="Externo">Externo</option>
				</select><br><br>
				<label>Localização</label><br>
				<input type="text" name="localizacao"><br><br>
				<button>Criar</button>
			</form>
		</fieldset>
	</div>

</body>
</html>