<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>iOne</title>
</head>
<body>

	<div class="container">
		<fieldset>
			<ul>
				<li>Jardim</li>
				<ul>
					<li><a href="/criar">Criar Jardim</a></li>
				</ul>
				<li>Conta</li>
				<ul>
					<li><a href="/redefinir">Redefinir senha</a></li>
					<li><a href="/sair">Encerrar Seção</a></li>
				</ul>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Acompanhamento</legend>
			<p>detalhes do jardim em tempo real</p>
			<button>Exportar relatório</button>
		</fieldset>
	</div>

</body>
</html>