<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>iOne</title>
</head>
<body>

	<div class="container">
		<fieldset>
			<legend>Conta</legend>
			<ul>
				<li>imegem</li>
				<li><%= nome %></li>
				<li><a href="/viewRedefinir">Redefinir senha</a></li>
				<li><a href="/sair">sair</a></li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Jardim</legend>
			<ul>
				<li><a href="/viewNovoJardim">Novo Jardim</a></li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Detalhes do Jardim</legend>
		</fieldset>
		<fieldset>
			<legend>Acompanhamento</legend>
		</fieldset>
	</div>

</body>
</html>