<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>iOne</title>
</head>
<body>

	<div class="container">
		<h1>iOne Jardim Inteligente</h1>
		
		<fieldset>
		<legend>Redefinir Senha</legend>
			<form method="post" action="/redefinir">
				<input type="password" name="senha" placeholder="Senha atual">
				<input type="password" name="senha" placeholder="Nova senha">
				<input type="password" name="senha" placeholder="Confirmar senha">
				<button>redefinir</button>
			</form>
		</fieldset>
	</div>

</body>
</html>