<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<title>iOne</title>
</head>
<body>

	<div class="container">
		<h1>Registre-se</h1>
		<fieldset>
			<form method="post" action="/gravarregistro">
				<input type="text" name="nome" placeholder="Nome">
				<input type="email" name="email" placeholder="Insira e-mail">
				<input type="email" name="email2" placeholder="Confirmar e-mail">
				<input type="password" name="senha" placeholder="Insira senha">
				<input type="password" name="senha2" placeholder="Confirmar senha">
				<button>Registrar</button>
			</form>
		</fieldset>
	</div>

</body>
</html>